<div class="container">
  <div class="row">
    <div class="col-md-1.5 text-left">
      <img src="./assets/img/bn.PNG" alt="" />
    </div>
    <div class="col-md-1.5 d-flex justify-content-center mt-4">
      <h2>Bon<b style="color: darkgoldenrod">'</b>Heure</h2>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-9 ">
      <!-- {{ registerpForm.value | json }} -->
      <form
        #registerpForm="ngForm"
        [formGroup]="register_pre_sociForm"
        (ngSubmit)="onSubmitFormSociete()"
        autocomplete="off"
      >
        <mat-horizontal-stepper class="border ">
          <!-- Etape 1-->

          <mat-step label="Etape 1 ">
            <h1>Informations Générales</h1>
            <h5>Informations Société</h5>
            <div class="row mt-5">
              <div class="col">
                <div class="form-group">
                  <label for="lastName">Nom</label>
                  <input
                    [class.is-invalid]="lastName.invalid && lastName.touched"
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                  />
                  <div *ngIf="lastName.invalid && lastName.touched">
                    <small
                      *ngIf="lastName.errors?.required"
                      class="text-danger"
                    >
                      champ obligatoire</small
                    >
                    <small
                      *ngIf="lastName.errors?.minlength"
                      class="text-danger"
                      >le nom doit etre plus de 4 caractéres</small
                    >
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="adress">Adresse</label>
                  <input
                    [class.is-invalid]="adress.invalid && adress.touched"
                    type="text"
                    class="form-control"
                    formControlName="adress"
                  />
                  <div *ngIf="adress.invalid && adress.touched">
                    <small *ngIf="adress.errors?.required" class="text-danger">
                      champ obligatoire</small
                    >
                    <small *ngIf="adress.errors?.minlength" class="text-danger"
                      >le nom doit etre plus de 10 caractéres</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="mobileNumber">Numéro de téléphone</label>
                  <input
                    [class.is-invalid]="
                      mobileNumber.invalid && mobileNumber.touched
                    "
                    type="text"
                    class="form-control"
                    formControlName="mobileNumber"
                  />
                  <div *ngIf="mobileNumber.invalid && mobileNumber.touched">
                    <small
                      *ngIf="mobileNumber.errors?.required"
                      class="text-danger"
                    >
                      champ obligatoire</small
                    >
                    <small
                      *ngIf="mobileNumber.errors?.minlength"
                      class="text-danger"
                      >le nom doit etre plus de 8 chiffres</small
                    >
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="email">E-mail </label>
                  <input
                    [class.is-invalid]="email.invalid && email.touched"
                    class="form-control"
                    formControlName="email"
                  />
                  <div *ngIf="email.invalid && email.touched">
                    <small *ngIf="email.errors?.required" class="text-danger">
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <!--Information demandeur-->
            <h5>Informations demandeur</h5>
            <div class="row mt-5">
              <div class="col">
                <div class="form-group">
                  <label for="lastName">Nom</label>
                  <input
                    [class.is-invalid]="lastName.invalid && lastName.touched"
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                  />
                  <div *ngIf="lastName.invalid && lastName.touched">
                    <small
                      *ngIf="lastName.errors?.required"
                      class="text-danger"
                    >
                      champ obligatoire</small
                    >
                    <small
                      *ngIf="lastName.errors?.minlength"
                      class="text-danger"
                      >le nom doit etre plus de 4 caractéres</small
                    >
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="firstName">Prénom</label>
                  <input
                    [class.is-invalid]="firstName.invalid && firstName.touched"
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                  />
                  <div *ngIf="firstName.invalid && firstName.touched">
                    <small
                      *ngIf="firstName.errors?.required"
                      class="text-danger"
                    >
                      champ obligatoire</small
                    >
                    <small
                      *ngIf="firstName.errors?.minlength"
                      class="text-danger"
                      >le nom doit etre plus de 4 caractéres</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--function == position-->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="position">Fonction</label>
                  <input
                    [class.is-invalid]="position.invalid && position.touched"
                    type="text"
                    class="form-control"
                    formControlName="position"
                  />
                  <div *ngIf="position.invalid && position.touched">
                    <small
                      *ngIf="position.errors?.required"
                      class="text-danger"
                    >
                      champ obligatoire</small
                    >
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="email">E-mail </label>
                  <input
                    [class.is-invalid]="email.invalid && email.touched"
                    class="form-control"
                    formControlName="email"
                  />
                  <div *ngIf="email.invalid && email.touched">
                    <small *ngIf="email.errors?.required" class="text-danger">
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-left">
                <button
                  mat-button
                  matStepperNext
                  class="btn btn-success "
                  type="submit"
                >
                  Suivant >>
                </button>
              </div>
            </div>
          </mat-step>
          <!-- Etape 2-->

          <mat-step label="Etape 2 ">
            <h1>Information Professionnelles</h1>
            <div class="row mt-5">
              <div class="col">
                <div class="form-group">
                  <label for="creationDate">Date de création</label>
                  <input
                    [class.is-invalid]="
                      creationDate.invalid && creationDate.touched
                    "
                    type="date"
                    class="form-control"
                    formControlName="creationDate"
                  />
                  <div *ngIf="creationDate.invalid && creationDate.touched">
                    <small
                      *ngIf="creationDate.errors?.required"
                      class="text-danger"
                    >
                    </small>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="registration">N° registre de commerce</label>
                  <input
                    [class.is-invalid]="
                      registration.invalid && registration.touched
                    "
                    type="number"
                    class="form-control"
                    formControlName="registration"
                  />
                  <div *ngIf="registration.invalid && registration.touched">
                    <small
                      *ngIf="creationDate.errors?.required"
                      class="text-danger"
                    >
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="workingAria">Lieu de travail</label>
                  <select
                    [class.is-invalid]="region.invalid && region.touched"
                    type="text"
                    class="form-control"
                    formControlName="region"
                  >
                    <div *ngIf="region.invalid && region.touched">
                      <small
                        *ngIf="region.errors?.required"
                        class="text-danger"
                      >
                      </small>
                    </div>
                    <option>Grand-tunis</option>
                    <option>Ariana</option>
                    <option>La Marsa</option>
                    <option>Le Bardo</option>
                    <option>La Goulette</option>
                    <option>Carthage</option>
                    <option>Sidi Bou Saïd</option>
                    <option>Ben Aouss</option>
                    <option>Tunis</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group  ">
                  <label for="confirmPassword">Confirmer Mot de passe</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="confirmPassword"
                  />
                </div>
                <div
                  *ngIf="!register_pre_sociForm.controls.confirmPassword.valid"
                >
                  <small class="text-danger"> not valid</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-left">
                <button
                  mat-button
                  matStepperPrevious
                  class="btn btn-success "
                  type="submit"
                >
                  << Retour
                </button>
              </div>

              <div class="col d-flex justify-content-left">
                <div class=" col d-flex justify-content-right">
                  <button class="btn btn-success " type="submit">
                    Valider
                  </button>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
  <!--row-->
</div>
