<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h5>Récapitulatif de votre demande</h5>
    </div>
  </div>

  <div class="row mt-3 d-flex justify-content-center ">
    <div class="col-md-4">
      Vous avez besoin d'un dépannage en <b>{{ categorie }}</b> et d'un
      traitement d'
      <b>{{ sous_categorie }}</b>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-3">
      Votre problème concerne une <b>{{ type }}</b> au niveau des
      <b>{{ sous_type }}</b>
    </div>
  </div>

  <div class="row mt-3 ">
    <div class="col-md-2"></div>

    <div class="col-md-4">
      <p>
        Afin de garantir un dépannage dans les plus brefs dèlais, le devis vous
        sera transmis à titre informatif uniquement.Pas d'annulation possibles
        une fois la demande confirmée.
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <h4>Vos commentaires & Précisons</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <textarea type="text" class="form-control"></textarea>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-1"></div>

    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-lg " (click)="confirm()">
        Confirmer ma demande
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-lg  ">
        Modifier ma demande
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success btn-lg  ">
        Besoin d'aide?
      </button>
    </div>
  </div>
</div>
