a {
  background-color: darkgoldenrod;
  color: blanchedalmond;
  font-size: 20px;
}

.btn-primary {
  font-size: 20px;
  background-color: rgb(19, 79, 92);
  border: 2px rgb(19, 79, 92);
}
