<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1.5 text-left">
      <img src="./assets/img/bn.PNG" alt="" />
    </div>
    <h3>Mon espace</h3>
    <br />
  </div>
  <div class="row">
    <div class="col-md-1 text-left"></div>
    <div class="col-md-1.5 text-left">
      <a href="">Accueil</a> > <a href="">Mon espace</a>
    </div>
    <div class="col-md-8  text-center">
      <h1>Ravis de vous Revoir !</h1>
    </div>
  </div>

  <br />
  <br />
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-3">
      <h5>Mes Points B'H</h5>
      <br />

      <img src="./assets/img/cercle.PNG" alt="" />
    </div>
    <div class="col-md-3">
      <h5>Ma cagnotte B'H</h5>
      <br />
      <img src="./assets/img/square.PNG" alt="" />
      <br />
    </div>
    <br />

    <div class="col-md-3">
      <h5>Prénom NOM</h5>
      <br />
      <ul>
        <li><p>nom.prenom@email.com</p></li>
        <li><p>+ 216 50 05 50</p></li>
        <li><p>RSSI à L'Oréal</p></li>
      </ul>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Réglages
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="#">Action 1</a>
        <a class="dropdown-item" routerLink="#">Action 2 </a>
        <a class="dropdown-item" routerLink="#">Action 3 </a>
      </div>
    </div>
    <div class="col-md-3">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Mes centres d'intérêt
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="#">Action 1</a>
        <a class="dropdown-item" routerLink="#">Action 2 </a>
        <a class="dropdown-item" routerLink="#">Action 3 </a>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
