<!-- <ngb-carousel [interval]="false">
  <ng-template ngbSlide *ngFor="let service of listServices; index as i">
    <div class="picsum-img-wrapper">
      <app-service-item [service]="service"></app-service-item>
      <div class="carousel-caption"></div>
    </div>
  </ng-template>
</ngb-carousel> -->

<!-- <ngu-carousel #myCarousel [dataSource]="listServices">
  <div *nguCarouselDef="let service" class="item">
    <div class="tile">
      <app-service-item [service]="service"></app-service-item>
    </div>
  </div>
  <button NguCarouselNext class="rightRs">></button>
  <button NguCarouselPrev class="leftRs"><</button>
  <ul class="myPoint" NguCarouselPoint>
    <li
      *ngFor="let j of myCarousel.listServices; let j = index"
      [class.active]="j == myCarousel.activePoint"
      (click)="myCarousel.moveTo(j)"
    ></li>
  </ul>
</ngu-carousel> -->
