<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-md-4"></div>
    <div class="col-md-6  pr-3 ">
      <h3>Merci pour votre contribution !</h3>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-3"></div>

    <img src="assets/img/completed.png" alt="..." class="fixed-right" />

    <div class="col-md-5  justify-content-center">
      <p>
        Votre évaluation a bien été prise en compte
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- <div class="row mt-5  justify-content-center">
    <div class="col-md-10">
      <button type="button" class="btn btn-success btn-lg" (click)="recap()">
        <i class="fas fa-arrow-circle-left"></i>
        Récapitulatif de ma demande
      </button>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-10 justify-content-center">
      <button type="button" class="btn btn-success btn-lg " (click)="edit()">
        Editer ma demande
        <i class="fas fa-arrow-circle-right"></i>
      </button>
    </div>
  </div> -->

  <div class="row justify-content-center pl-5 ml-5">
    <button type="button" class="btn btn-success btn-lg" (click)="recap()">
      <i class="fas fa-arrow-circle-left"></i>

      Retourner à la page d'acceuil
    </button>
  </div>
  <div class="row justify-content-center mt-2 pl-5 ml-5">
    <button type="button" class="btn btn-success" (click)="recap()">
      <i class="fas fa-phone-alt fa-lg"></i>

      Nous contacter par téléphone
    </button>
  </div>
</div>
