
<!--header-->
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">


        <div class="container-fluid">

            <div class="row">
             
              <div class="col-sm-9">

                  <app-content ></app-content>
                  

              </div>


              <div class="col-sm-3 ">

                 <app-notifications></app-notifications>
              </div>



            </div>
            </div>
            

      </div>


    </div>


</div>

<!--footer-->


<app-footer></app-footer>



