<form
  [formGroup]="numeroForm"
  (ngSubmit)="onSubmitFormNumero()"
  autocomplete="off"
>
  <div class="form-group">
    <div class="row ">
      <div class="col-md-5">
        <label><b>Ajouter un numéro de téléphone</b></label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <input type="text" class="form-control" formControlName="numero" />
      </div>
      <div class="col-md-5 ">
        <button type="submit" class="btn btn-success">
          Ajouter
        </button>
      </div>
    </div>
  </div>
</form>
