.btn-modal {
  background-color: rgb(19, 79, 92) !important;
  border-color: rgb(19, 79, 92) !important;

  color: white;
  border-radius: 25px;
}

.modal-title {
  color: rgb(19, 79, 92);
  font-weight: 700;
}

hr {
  border: solid 2px rgb(191, 144, 0);
  width: 50%;
}

h6,
p {
  color: rgb(19, 79, 92);
  font-weight: 700;
}

p {
  font-size: 12px;
}

.hr-div {
  position: relative;
}

i {
  color: rgb(19, 79, 92);
}

.point-1 {
  position: absolute;
  left: 24%;
  bottom: 25%;
}
.point-2 {
  position: absolute;
  bottom: 25%;
}

.point-3 {
  position: absolute;
  bottom: 25%;
  right: 24%;
}
