a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.card:hover {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(1.05);
}

.card {
  background-color: rgb(19, 79, 92);
}
